@media (min-width: 320px) {
  main {  
    background-image: url("bg.png");
    background-size: 100% 60%; /* Ensure the image covers the entire viewport */
    /* Optionally, set the background attachment and position */
    background-attachment:scroll; 
    background-repeat:repeat-y;
    background-position: center top; /* Center the background image */
  }
}

@media (min-width: 801px) {
  main {  
    background-image: url("bg.png");
    background-size: 100vw 80%; /* Ensure the image covers the entire viewport */
    /* Optionally, set the background attachment and position */
    background-attachment:scroll; 
    background-repeat:repeat-y;
    background-position: center top; /* Center the background image */
  }

}

.contenitore {
width:100%
}

.polaroid {
    transition: transform .2s /* Animation */ !important;
    margin: 0 auto;
  }
  
.polaroid:hover {
    transform: scale(1.5) !important;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.letter {
  transition: transform .2s /* Animation */ !important;
  margin: 0 auto;
}

.letter:hover {
  transform: scale(1.1) !important;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#push-button:hover {
  transform: scale(0.8) !important;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.menuButton:hover{
    filter: invert(100%);
  }  

  #push-button {
    display: block;
    cursor: pointer;
  }

.tenor-gif-embed {
  display: block;
margin: 0 auto;
}

.parent {
    position: relative;

    width: 100%;
    height: auto;
  }
  #image1 {
    position: relative;
    top: 0;
    left: 0;
  }
  #image2 {
    position: absolute;
    width: 12%; /* Will shrink image to 30% of its original width */
    height: auto;   
    top: 8%;
    left: 13%;
    transform: rotate(5deg); 
  }
  #image3 {
    position: absolute;
    width: 12%; /* Will shrink image to 30% of its original width */
    height: auto;   
    top: 50%;
    left: 7%;
    transform: rotate(-5deg); 
  }
  #image4 {
    position: absolute;
    width: 11%; /* Will shrink image to 30% of its original width */
    height: auto;   
    top: 9%;
    left: 80%;
    transform: rotate(-10deg); 
  }

  #image5 {
    position: absolute;
    width: 12.5%; /* Will shrink image to 30% of its original width */
    height: auto;   
    top: 54%;
    left: 80%;
    transform: rotate(5deg); 
  }

  .iframe-map {
    position: relative;
    overflow: hidden;
    width: 50%;
    padding-top: 57vh; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe-map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .iframe-spoti {
    background-image: url("musicabg.jpeg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 60% 50% ;
    position: relative;
    overflow: hidden;
    padding-top: 60%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe-spoti {
    
    position:absolute;
    top: 14%;
    left: 38.3%;
    bottom: 0;
    right: 0;
    width: 23%;
    height: 50%;
  }

  #push-button {
    position: absolute;
    top: 18%;
    left: 40%;
    width:10%;
    height: auto; 
  }
  #push1 {
    position: relative;
    width: 20%; /* Will shrink image to 30% of its original width */
    height: auto;   
    top: 8%;
    left: 5%;
    pointer-events: none; /* This allows clicks to pass through */
  }
  


@media (min-width: 320px) {
  #gif-container {

    min-height: 100px; /* Set minimum height for smaller screens */
  }

  .parent{
    padding-bottom: 16px;
  }
}

@media (min-width: 801px) {
   #gif-container{
    min-height: 406px; /* Set minimum height for medium-sized screens */
    padding-bottom: 16px;
  }
  .parent{
    padding-bottom: 48px;
  }
}

  

  .letter-container-1 {
    text-align: center;
  }
  
  .letter-container-2 {
    position: relative;
    display: inline-block;
  }
  
  .letter {
    filter: blur(10px); /* Initial blur amount */
  }
  
  #unblurButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #Mappa {
    scroll-margin-top: 150px;
  }


  #Musica {
    scroll-margin-top: -40px;
  }


  
  








  
